apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "finance-tracker.fullname" . }}
  labels:
    {{- include "finance-tracker.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "finance-tracker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "finance-tracker.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP

          # ----- קונפיגורציה מאתנו -----
          env:
            - name: DATA_PATH
              valueFrom:
                configMapKeyRef:
                  name: {{ include "finance-tracker.fullname" . }}-config
                  key: DATA_PATH

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "finance-tracker.fullname" . }}-secret
                  key: DB_PASSWORD

          # ----- Readiness Probe -----
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5

          # ----- Liveness Probe -----
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

